:root {
    background-color: #e0e5ec;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0e5ec;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-area {
    padding: 10px 0;
    width: 100%;
    height: fit-content;
    background: linear-gradient(135deg, #a5b4f7 0%, #6f779b 30%, #9380a5 30%, #a78fc0 40%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
}

.header-area .nav li a {
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
}

.header-area .logo h2 {
    color: #fff;
    font-weight: bold;
    margin: 0;
}

.con1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
}

.c2 {
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 1200px;
}

.c{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    left: 5%;
}

.calculator {
    background-color: #e0e5ec;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    margin-bottom: 30px;
    width: 100%;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    margin-bottom: 15px;
    padding-right: 10px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: inset 2px 2px 5px #bebebe, inset -2px -2px 5px #ffffff;
    outline: none;
}

button[type="submit"] {
    width: 70%;
    padding: 10px;
    position:relative;
    bottom: 15%;
    left: 15%;
    border: none;
    border-radius: 10px;
    background-color: #88b0db;
    color: white;
    font-size: 16px;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}

.suppliers {
    background: repeating-radial-gradient(circle at center, rgb(179, 198, 204) 0%, rgb(147, 179, 189) 20%, rgb(146, 177, 187) 60%, rgb(158, 215, 233) 100%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    max-width: 90%;
    overflow-x: auto;
    visibility: hidden;
}

#suppliersTable {
    width: 100%;
    border-collapse: collapse;
    color: #333;
}

#suppliersTable th, #suppliersTable td {
    padding: 15px;
    text-align: left;
}

#suppliersTable th {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

#suppliersTable tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

#suppliersTable tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 760px) {
    .form-row {
        flex-direction: column;
    }
    .con1 {
        font-size: smaller;
        width: 100%;
        padding: 0 10px;
    }
}

@media (max-width: 1000px) {
    #suppliersTable {
        display: block;
        overflow-x: auto;
        font-size: smaller;
    }
}

.space {
    height: 200px;
    width: 10px;
}


.ad{
    position: relative;
    top: 18px;
    left: 45%;
    font-size: 20px;
}