
:root{
    background-color: #e0e5ec;

}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0e5ec;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-area {
    /* background-color: #007bff; */
    padding: 10px 0;
    width: 100vw;
    height: fit-content;
    background: linear-gradient(135deg, #a5b4f7 0%, #6f779b 30%, #9380a5 30%,#a78fc0 40%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    position: sticky;
}

.header-area .nav li a {
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    bottom: 25px;
}

.header-area .logo h2 {
    color: #fff;
    font-weight: bold;
    margin: 0;
}
.con1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c2{
    position: relative;
    top: 100px;
}
.calculator {
    background-color: #e0e5ec;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    margin-bottom: 30px;
    max-width: 900px;
    position: relative;
    left: 35px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}
.form-row{
    display: flex;
    justify-content: space-between;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: inset 2px 2px 5px #bebebe, inset -2px -2px 5px #ffffff;
    margin-bottom: 20px;
    margin-right: 10px;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #88b0db;
    color: white;
    font-size: 16px;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    position: relative;
    width: 60%;
    left: 20%;
    bottom: 20%;
}

.suppliers {
    /* background: linear-gradient(135deg, #a8e9e0 40%, #a3dbd4 30%); */
    /* background: radial-gradient(220deg, #92b2c0 40%, #496977 40%); */
    background:  repeating-radial-gradient(circle at center, rgb(179, 198, 204) 0%, rgb(147, 179, 189) 20%, rgb(146, 177, 187) 60%, rgb(158, 215, 233) 100%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
#container2{
    
    visibility:hidden;
}

#suppliersTable {
    width: 100%;
    border-collapse: collapse;
    color: #333;
}

#suppliersTable th, #suppliersTable td {
    padding: 15px;
    text-align: left;
}

#suppliersTable th {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

#suppliersTable tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

#suppliersTable tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 760px) {
    .form-row {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 700px) {
    .form-row {
        display: flex;
        flex-direction: column;
    }
    .con1{
        max-width: 90%;
        overflow-x: scroll;
    }
}

@media (max-width: 1000px) {
    
    #suppliersTable {
        display: block;
        overflow-x: auto;
    }
}


.highlights {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    position: relative;
    top: 100px;
}

.highlight {
    text-align: center;
    padding: 10px;
}

.highlight img {
    width: 50px;
    height: 50px;
}


.space{
    height: 200px;
    width: 10px;

}

.step{
    position: relative;
    top: 100px;
}